language: node_js
node_js:
  - "lts/*"
  - "node"
  - 10

#before_script: npm run lint
script: 
   - npm run test
   - npm run test:cover
#after_success: npm run coveralls

branches:
  only:
    - master
